<div
  class="form-container"
  style="
    background-color: var(--en-theme-color-background-surface-elevation-1);
    width: 400px;
    padding: 24px;
  "
>
  <en-heading tagname="h1">Forgot Password</en-heading>
  <form>
    <div class="input">
      <en-text-field
        formControlName="email"
        variant="secondary"
        label="Email"
        id="email"
        type="email"
        isRequired="true"
      ></en-text-field>
    </div>
    <div style="margin-top: 8px">
      <en-button type="submit">Reset password</en-button>
    </div>
  </form>
</div>
