.form-container {
  margin: 7rem auto;
  width: 25rem;
  padding: 1.5rem;
  background-color: var(--en-theme-color-background-surface-elevation-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

en-heading {
  margin: 0 0 0.5rem 0;
  text-align: center;
}

form > div {
  margin-bottom: 0.5rem; 
  width: 100%;
}

en-text-field {
  width: 100%;
  max-width: 100%;
}

en-button {
  margin-top: 1rem;
  display: block;
  width: 100%;
  max-width: 12.5rem;
  text-align: center;
}

small {
  color: red;
  display: block;
  margin-top: 0.2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}
