$en-bp-320: 'screen and (min-height: 320px)';
$en-bp-600: 'screen and (min-height: 600px)';
$en-bp-650: 'screen and (min-height: 650px)';
$en-bp-700: 'screen and (min-height: 700px)';
$en-bp-744: 'screen and (min-height: 744px)';
$en-bp-850: 'screen and (min-height: 850px)';
$en-bp-900: 'screen and (min-height: 900px)';
$en-bp-950: 'screen and (min-height: 950px)';
$en-bp-1024: 'screen and (min-height: 1024px)';
$en-bp-1366: 'screen and (min-height: 1366px)';
$en-bp-2550: 'screen and (min-height: 2550px)';
