<div class="container">
  <div class="dialog-container">
    <demo-app-dialog></demo-app-dialog>
    <en-button class="refresh" size="md" (click)="refreshData()">
      <en-icon-refresh></en-icon-refresh>
    </en-button>
    <select id="pageSize" (change)="onPageSizeChange($event)">
      <option *ngFor="let size of paginationPageSizeSelector" [value]="size">
        {{ size }}
      </option>
    </select>
    <en-search-form
      variant="primary"
      label="Search"
      placeholder="Search"
      (keyup)="applyFilter($event)"
    ></en-search-form>
  </div>

  <div class="table-container">
    <ag-grid-angular
      style="width: 100%; height: 200px"
      class="ag-theme-alpine-dark"
      [columnDefs]="columnDefs"
      [rowData]="filteredRowData.length > 0 ? clickedData : filteredRowData"
      (gridReady)="onGridReady($event)"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [paginationNumberFormatter]="paginationNumberFormatter"
    >
    </ag-grid-angular>
  </div>

  <!-- <h3>Filtered Data</h3>
  <div class="table-container">
    <ag-grid-angular
      style="width: 100%; height: 200px"
      class="ag-theme-alpine-dark"
      [columnDefs]="columnDefs"
      [rowData]="filteredRowData"
      (gridReady)="onGridReady($event)"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [paginationNumberFormatter]="paginationNumberFormatter"
    >
    </ag-grid-angular>
  </div> -->
</div>
