<div class="container">
  <div class="dialog-container">
    <demo-app-dialog></demo-app-dialog>
    <en-button class="refresh" (click)="refreshData()">
      <en-icon-refresh></en-icon-refresh>
    </en-button>
    <en-button class="reset" (click)="resetData()">
      <en-icon-reset></en-icon-reset>
    </en-button>
    <en-button
      class="delete"
      (click)="deleteStudent(selectedRowData?.id)"
      [disabled]="!selectedRowData"
    >
      <en-icon-delete></en-icon-delete>
    </en-button>
    <demo-app-edit></demo-app-edit>
    <en-search-form
      variant="primary"
      label="Search"
      placeholder="Search"
      (keyup)="applyFilter($event)"
    ></en-search-form>
  </div>

  <div class="table-container">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-alpine-dark"
      [columnDefs]="columnDefs"
      [paginationAutoPageSize]="true"
      [pagination]="true"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [rowSelection]="'single'"
    ></ag-grid-angular>
  </div>
</div>
