.form-container{
    margin-left:35rem ;
    margin-top: 10rem;
}
en-heading{
    margin: 1px;
    text-align: center;
}
.input{
    margin-bottom: 1rem;
}
en-button{
    margin-left: 9rem;
    position: relative;
}
input.ng-invalid.ng-touched {
    border-color: red; // Highlight invalid fields
  }
  
  small {
    color: red;
    display: block;
    margin-top: 4px;
  }