.formcontainer {
    background-color: var(--en-theme-color-background-surface-elevation-1);
    width: 100%;
    max-width: 400px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  label {
    font-size: 0.875rem;
    margin-bottom: 4px;
  }
  
  en-text-field {
    width: 100%;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  