<div class="header">
  <en-product-logo data-testid="product-logo" product="ec" width="50" height="50"></en-product-logo> 
</div>

<demo-app-navigation [hidden]="!isLoggedIn"/>

<div
  class="container"
  style="
    background-color: var(--en-theme-color-background-surface-elevation-1);
    width: 400px;
    padding: 24px;
  "
  [hidden]="isLoggedIn"
>
  <en-heading tagname="h3">You are not logged in</en-heading>
  <en-link (click)="navigateToLogin()">Login</en-link>
</div>
<router-outlet></router-outlet>
