.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  background-color: #2d2f3e; 
  z-index: 1000; 
  padding-bottom: 20px;
}
.container{
  margin-top: 15rem;
  margin-left: 35rem;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 10px;
}
// ::ng-deep