en-layout-container{
  height:6rem;
  text-align: center;
  margin:2rem 2rem;
  font-size: larger;
  background-color: #2a2a3d;
}
.dummy-div{
  height: 60vh;
}
.navigation{
  position: fixed;
  top: 5rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  background-color: #2d2f3e; 
  z-index: 1000; 
  padding-bottom: 20px;
}

// ::ng-deep