en-layout-container{
  height:6rem;
  text-align: center;
  margin:2rem 2rem;
  font-size: larger;
  background-color: #2a2a3d;
}
.dummy-div{
  height: 60vh;
}
.navigation{
  position: fixed;
  top: 5rem;
}